.container{
    margin-top: 1rem;
}
.mobile{
    display: flex;
    margin-top: 1rem;
    background-color: #1a1c2a;
    border-radius: 20px;
    width: 500px;

}

.rusdaca-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    padding: 2rem;
    margin: 2rem;
}
.card{
    background-color: #1a1c2a;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1);
}

.card-body{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-body h1 {
  margin-bottom: 0.5rem;
  color: #fff;
}

.card-body .desc {
  flex: 1;
  color: #bbb;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}

@media (max-width: 600px) {

  .title-page{
    margin-top: 1.5rem;
    font-size: 20px;
  }
  .rusdaca-grid {
    
    gap: 2rem;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }


  .main-photo {
    width: 100%;           /* di HP biar full */
    max-height: 180px;
  }

  .card-body  {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.85rem;
    padding: 0.5rem 0.7rem;
  }
}
